# Database
POSTGRES_DB=hospital_db
POSTGRES_USER=admin
POSTGRES_PASSWORD=password
DATABASE_URL=postgres://admin:password@db:5432/hospital_db

# Redis
REDIS_URL=redis://redis:6379/0

# Django
SECRET_KEY=django-insecure-your-secret-key
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,backend_api

# AWS Backup (Optional)
AWS_ACCESS_KEY_ID=your_key
AWS_SECRET_ACCESS_KEY=your_secret
AWS_STORAGE_BUCKET_NAME=your_bucket_name

# Google Cloud Backup (Optional)
GS_BUCKET_NAME=your_gs_bucket
GOOGLE_APPLICATION_CREDENTIALS=/path/to/credentials.json

# Desktop App
DESKTOP_URL=http://localhost
