django>=4.2,<5.0
djangorestframework
djangorestframework-simplejwt
psycopg2-binary
django-environ
django-cors-headers
redis
django-redis
fhir.resources
hl7
boto3
google-cloud-storage
django-filter
django-storages
pillow
channels[daphne]
channels-redis
celery
gunicorn
uvicorn
django-cloudinary-storage
cloudinary
django-cleanup
whitenoise
